.container {
    background-color: white;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding :1%;
    align-items: center;
    width: 100%;
    height: 10%;
}
  
.logo img {
    margin-left: 10%;
    width: 100px;
    height: 100px;
}

.navbar-content{
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: center;
}

.navbar-content h4{
    color: black;
}

.userIcon{
    color: black;
    padding: 20px;
}

.content-cards{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
/* .eachcard{
    display: flex;
    flex-direction: row;
} */
.ant-card-body{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.card-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap : 30px
}
.card-elements Button{
    font-size: medium;
    font-weight: 500;
}